@charset "utf-8";

/** @section Fonts */
@font-face {
    font-family: "Young Serif";
    src: url("fonts/YoungSerif-Regular.woff2") format(woff2);
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: Outfit;
    src: url("fonts/Outfit-VariableFont_wght.woff2") format(woff2) tech(variations);
    font-weight: 400 700;
    font-style: normal;
    font-display: swap;
}
